<div class="pageWrapper">
  <div class="content">
    <kendo-pdf-export #pdf paperSize="A4" margin="2cm">
      <div class="size-a4">
        <p> Build Better JavaScript Apps Faster The ultimate collection of JavaScript UI components with libraries for jQuery,
          Angular, React, and Vue. Quickly build eye-catching and high-performance responsive web applications—regardless
          of your JavaScript framework choice.
        </p>

        <p> Build Better JavaScript Apps Faster The ultimate collection of JavaScript UI components with libraries for jQuery,
          Angular, React, and Vue. Quickly build eye-catching and high-performance responsive web applications—regardless
          of your JavaScript framework choice.
        </p>
      </div>
    </kendo-pdf-export>


    <div>
      <button kendo-button (click)="pdf.saveAs('demo-content.pdf')">
        Export As PDF
      </button>
    </div>
  </div>
</div>
